# Ignore large caches, extensions, and local states
VSCodium/User/workspaceStorage/
VSCodium/User/globalStorage/
VSCodium/CachedData/
VSCodium/Backups/
spotify/Users/
**/cache/
**/.cache/

# Ignore VSCodium caches and runtime data
VSCodium/Cache/
VSCodium/GPUCache/
VSCodium/CachedData/
VSCodium/backups/
VSCodium/Cache/
